.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage*
htmlcov/

dist/
build/
*.egg-info/

.idea/
.vscode/
.tox/
docs/_build/

.conda

# DATA
collab/external_data
collab/internal_data
collab/results
data_ready.csv

.DS_Store